body {
  background-color: lightgrey;
}

.box {
  width: 350px;
  height: 150px;
  margin: 25px;
  padding: 25px;
  border: 5px solid black;
}

form {
  width: 50%;
  height: 500px;
  padding: 12px 50px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type=text] {
  width: 90%;
  padding: 15px;
  margin: 8px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ffffff;
}

input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 8px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ffffff;
}

input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.container {
  margin: 500px;
  width: 50%;
  height: 500px;
}



